@{
    ViewBag.Title = "Центр";
}
@section css{
    <style>
        .canvasjs-chart-credit {
            display: none;
        }
        
        .col-md-4 {
            padding: 20px;
            border: solid 1px #424242;
        }
        
    </style>
}

<div id="panel-1">

    <div class="row">

        <div class="col-md-4">
            <h3>Товарооборот (млрд.сум)</h3>

            <div class="spline-chart inview" id="chart1"></div>
        </div>

        <div class="col-md-4">
            <h3>Кол-во поставщиков тысяч</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-block">
                        <h5 class="card-title">ГЗ</h5>
                        <h2>44 465</h2>
                        <div class="area-chart inview" id="chart2"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-block">
                        <h5 class="card-title">КЗ</h5>
                        <h2>19 498</h2>
                        <div class="area-chart inview" id="chart3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Кол-во сделок в день </h3>

            <div class="row">

                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart5"></div>
                    <br />
                    <h3 class="align-center">ГЗ</h3>
                </div>

                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart4"></div>
                    <br />
                    <h3 class="align-center">КЗ</h3>
                </div>

                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart6"></div>
                    <br />
                    <h3 class="align-center">Каталог</h3>
                </div>

            </div>
        </div>
 

        <div class="col-md-4">
            <h3>ТОП 3 товары </h3>
 
            <div class="row">
                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart8"></div>
                    <br />
                    <h4 class="align-center">Кондиционер</h4>
                </div>

                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart9"></div>
                    <br />
                    <h4 class="align-center">Автопогрузчик</h4>
                </div>

                <div class="col-md-3">
                    <div class="doughnut-chart inview" id="chart10"></div>
                    <br />
                    <h4 class="align-center">Краска</h4>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Экономия (млрд.сум)</h3>
            
            <div class="spline-chart inview" id="chart16"></div>
        </div>

        <div class="col-md-4">
            <h3>Среднее кол-во участников</h3>
            <div class="bar-chart inview" id="chart11"></div> 
        </div>
 
        <div class="col-md-4">
            <h3>Кол-во сотрудников</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-block">
                        <h5 class="card-title text-center">Специалисти</h5>
                        <br/>
                        <div class="area-chart inview">
                            <h2 style="background-color: #5cb85c; font-size: 3rem;   position: absolute; height: 80px; bottom: 0; width: 80%; padding-left: 40%; padding-top: 5%;">6</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-block">
                        <h5 class="card-title text-center">Модераторы</h5>
                        <br/>
                        <div class="area-chart inview" >
                            <h2 style="background-color: #848484; font-size: 3rem; position: absolute; height: 120px; bottom: 0;width: 80%;padding-left: 35%; padding-top: 12%;">10</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Кол-во звонков в день </h3>
            <div class="bar-chart inview" id="chart15"></div>
        </div>

        <div class="col-md-4">
            <h3>Доля платформ</h3>
            <div class="row">
                <div class="col-md-5">
                    <div class="bar-chart inview" id="chart12"></div>
                </div>
                <div class="col-md-7">
                    <ul style="list-style:none;margin-top: 15%;">
                        <li>
                            <h3 style="color:#5cb85c">ГЗ - 46%</h3>
                        </li>
                        <li>
                            <h3 style="color:#c70000">КЗ - 39%</h3>
                        </li>
                        <li>
                            <h3 style="color:white;">Каталог - 15%</h3>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>  

</div>

@section js{

    <script src="~/assets/js/canvasjs.min.js"></script>
    <script src="~/assets/js/jquery.scrollspeed.min.js"></script>
    <script src="~/assets/js/jquery.inview.min.js"></script>

    <script>

        $(function () {

            var chart4 = new CanvasJS.Chart("chart4", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#848484",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "2300",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 83, color: "#5cb85c" },
                            { y: 17, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart5 = new CanvasJS.Chart("chart5", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#848484",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "110",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 4, color: "white" },
                            { y: 96, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart6 = new CanvasJS.Chart("chart6", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#848484",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "340",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 12, color: "#c70000" },
                            { y: 88, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart8 = new CanvasJS.Chart("chart8", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#424242",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "12%",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 22, color: "#c70000" },
                            { y: 78, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart9 = new CanvasJS.Chart("chart9", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#424242",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "11%",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 20, color: "white" },
                            { y: 80, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart10 = new CanvasJS.Chart("chart10", {
                animationEnabled: true,
                backgroundColor: "transparent",
                title: {
                    fontColor: "#424242",
                    fontSize: 24,
                    horizontalAlign: "center",
                    text: "30%",
                    verticalAlign: "center"
                },
                data: [
                    {
                        explodeOnClick: false,
                        innerRadius: "80%",
                        radius: "90%",
                        startAngle: 270,
                        type: "doughnut",
                        dataPoints: [
                            { y: 56, color: "#5cb85c" },
                            { y: 44, color: "#424242" }
                        ]
                    }
                ]
            });

            var chart2 = new CanvasJS.Chart("chart2", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    gridThickness: 0,
                    lineThickness: 0,
                    maximum: new Date("1 Dec 2017"),
                    minimum: new Date("1 Jan 2017"),
                    tickLength: 0,
                    valueFormatString: " "
                },
                axisY: {
                    gridThickness: 0,
                    lineThickness: 0,
                    tickLength: 0,
                    valueFormatString: " "
                },
                data: [
                   {
                       color: "#424242",
                       fillOpacity: 1,
                       lineColor: "#5cb85c",
                       lineThickness: 3,
                       markerSize: 0,
                       type: "splineArea",
                       dataPoints: [
                           { x: new Date("1 Jan 2017"), y: 2171991 },
                           { x: new Date("1 Feb 2017"), y: 2678910 },
                           { x: new Date("1 Mar 2017"), y: 3215487 },
                           { x: new Date("1 Apr 2017"), y: 2213754 },
                           { x: new Date("1 May 2017"), y: 2584561 },
                           { x: new Date("1 Jun 2017"), y: 3178647 },
                           { x: new Date("1 Jul 2017"), y: 3645041 },
                           { x: new Date("1 Aug 2017"), y: 2914568 },
                           { x: new Date("1 Sep 2017"), y: 3985421 },
                           { x: new Date("1 Oct 2017"), y: 3754219 },
                           { x: new Date("1 Nov 2017"), y: 3971047 },
                           { x: new Date("1 Dec 2017"), y: 4121538 }
                       ]
                   }
                ]
            });

            var chart3 = new CanvasJS.Chart("chart3", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    gridThickness: 0,
                    lineThickness: 0,
                    maximum: new Date("1 Dec 2017"),
                    minimum: new Date("1 Jan 2017"),
                    tickLength: 0,
                    valueFormatString: " "
                },
                axisY: {
                    gridThickness: 0,
                    lineThickness: 0,
                    tickLength: 0,
                    valueFormatString: " "
                },
                data: [
                    {
                        color: "#424242",
                        fillOpacity: 1,
                        lineColor: "#c70000",
                        lineThickness: 3,
                        markerSize: 0,
                        type: "splineArea",
                        dataPoints: [
                            { x: new Date("1 Jan 2017"), y: 17376 },
                            { x: new Date("1 Feb 2017"), y: 21431 },
                            { x: new Date("1 Mar 2017"), y: 25724 },
                            { x: new Date("1 Apr 2017"), y: 22138 },
                            { x: new Date("1 May 2017"), y: 20676 },
                            { x: new Date("1 Jun 2017"), y: 25429 },
                            { x: new Date("1 Jul 2017"), y: 29160 },
                            { x: new Date("1 Aug 2017"), y: 23317 },
                            { x: new Date("1 Sep 2017"), y: 31883 },
                            { x: new Date("1 Oct 2017"), y: 30034 },
                            { x: new Date("1 Nov 2017"), y: 31768 },
                            { x: new Date("1 Dec 2017"), y: 41215 }
                        ]
                    }]
            });
 
            var chart1 = new CanvasJS.Chart("chart1", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    gridThickness: 0,
                    labelFontColor: "white",
                    lineColor: "#424242"
                },
                axisY: {
                    gridThickness: 0,
                    labelFontColor: "white",
                    lineColor: "#424242"
                },
                legend: {
                    dockInsidePlotArea: true,
                    fontColor: "white",
                    fontSize: 16,
                    horizontalAlign: "right",
                    verticalAlign: "top"
                },
                data: [
                    {
                        type: "column",
                        indexLabelPlacement: "outside",
                        indexLabel: "{y}",
                        indexLabelColor: "white",
                        indexLabelFontSize: 24,
                        indexLabelOrientation: "horizontal",
                        dataPoints: [
                            { label: "ГЗ", y:  355.6,color:"#5cb85c"},
                            { label: "КЗ", y: 300.1 ,color:"#c70000"},
                            { label: "Каталог", y: 48.4 ,color:"white"}
                        ]
                    } 
                ]
            });
            
            var chart16 = new CanvasJS.Chart("chart16", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    gridThickness: 0,
                    labelFontColor: "white",
                    lineColor: "#424242"
                },
                axisY: {
                    gridThickness: 0,
                    labelFontColor: "white",
                    lineColor: "#424242",
                },
                legend: {
                    dockInsidePlotArea: true,
                    fontColor: "white",
                    fontSize: 16,
                    horizontalAlign: "right",
                    verticalAlign: "top"
                },
                data: [
                    {  
                        type: "column",
                        indexLabelPlacement: "outside",
                        indexLabel: "{y}",
                        indexLabelColor: "white",
                        indexLabelFontSize: 24,
                        indexLabelOrientation: "horizontal",
                        dataPoints: [
                            { label: "ГЗ", y:  105.2,color:"#5cb85c"},
                            { label: "КЗ", y: 78.8 ,color:"#c70000"},
                            { label: "Каталог", y: 27.9 ,color:"white"}
                        ]
                    } 
                ]
            });

            var chart7 = new CanvasJS.Chart("chart7", {
                animationEnabled: true,
                backgroundColor: "transparent",
                data: [
                    {
                        innerRadius: "60%",
                        radius: "100%",
                        showInLegend: false,
                        startAngle: 180,
                        type: "doughnut",
                        dataPoints: [
                            { y: 12, name: "ГЗ", color: "white" },
                            { y: 11, name: "КЗ", color: "#c70000" },
                            { y: 30, name: "Каталог", color: "#5cb85c" }
                        ]
                    }
                ] 
            });

            var chart15 = new CanvasJS.Chart("chart15", {
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    labelFontColor: "#f7f6f6",
                    labelFontSize: 18,
                    lineThickness: 0,
                    tickThickness: 0
                },
                axisY: {
                    gridThickness: 0,
                    lineThickness: 0,
                    tickThickness: 0,
                    valueFormatString: " "
                },
                data: [
                    {
                        color: "#424242",
                        indexLabelFontColor: "#5cb85c",
                        indexLabelFontFamily: "calibri",
                        indexLabelFontSize: 24,
                        indexLabelPlacement: "outside",
                        type: "bar",
                        dataPoints: [
                            { y: 105, indexLabel: "105", label: "День" },
                            { y: 500, indexLabel: "500", label: "Недель" },
                            { y: 2000, indexLabel: "2000", label: "Месяц" }
                        ]
                    }
                ]
            });

            var chart11 = new CanvasJS.Chart("chart11", { 
                animationEnabled: true,
                backgroundColor: "transparent",
                axisX: {
                    labelFontColor: "#f7f6f6",
                    labelFontSize: 18,
                    lineThickness: 0,
                    tickThickness: 0
                },
                axisY: {
                    gridThickness: 0,
                    lineThickness: 0,
                    tickThickness: 0,
                    valueFormatString: " "
                },
                data: [
                    {
                        color: "#424242",
                        indexLabelFontColor: "#5cb85c",
                        indexLabelFontFamily: "calibri",
                        indexLabelFontSize: 24,
                        indexLabelPlacement: "outside",
                        type: "bar",
                        dataPoints: [
                            { y: 11, indexLabel: "11", label: "ГЗ" },
                            { y: 9, indexLabel: "9", label: "КЗ" },
                            { y: 7, indexLabel: "7", label: "Каталог" }
                        ]
                    }
                ]
            });

            var chart12 = new CanvasJS.Chart("chart12", {
                animationEnabled: true,
                backgroundColor: "transparent",
                data: [
                    {
                        innerRadius: "60%",
                        radius: "100%",
                        showInLegend: false,
                        startAngle: 180,
                        type: "doughnut",
                        dataPoints: [
                            { y: 46, name: "ГЗ", color: "#5cb85c" },
                            { y: 39, name: "КЗ", color: "#c70000" },
                            { y: 15, name: "Каталог", color: "white" }
                        ]
                    }
                ]
            });

            jQuery.scrollSpeed(100, 400);

            $('.inview').one('inview', function (e, isInView) {
                if (isInView) {
                    switch (this.id) {
                        case "chart4": chart4.render();
                            break;
                        case "chart5": chart5.render();
                            break;
                        case "chart6": chart6.render();
                            break;
                        case "chart8": chart8.render();
                            break;
                        case "chart9": chart9.render();
                            break;
                        case "chart10": chart10.render();
                            break;
                        case "chart2": chart2.render();
                            break;
                        case "chart3": chart3.render();
                            break; 
                        case "chart1": chart1.render();
                            break;
                        case "chart11": chart11.render();
                            break;
                        case "chart7": chart7.render();
                            break;
                        case "chart15": chart15.render();
                            break;
                        case "chart16": chart16.render();
                            break;
                        case "chart12": chart12.render();
                            break;
                    }
                }
            });

        });

    </script>

}
