@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Авторизация | Wallboards</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/signin.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <form class="form-signin" action="@Url.Action("Login")" method="post">
            @Html.AntiForgeryToken()
            <h2 class="form-signin-heading text-center">Wallboards</h2>
            <label for="inputEmail" class="sr-only">Имя пользователя</label>
            <input type="text" id="inputEmail" name="UserName" class="form-control" placeholder="Имя пользователя" required autofocus>
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" name="Password" class="form-control" placeholder="Пароль" required> 
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
